@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  color: white;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-blur {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.bg-blur-card1 {
  background: rgba(255, 255, 255, 0.04);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.bg-nav {
  background: rgba(27, 27, 27, 0.795);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(8.2px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-bottom: 1px solid rgb(82, 82, 82);
}

.bg-card {
  background: rgba(255, 255, 255, 0.257);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.6px);
  -webkit-backdrop-filter: blur(11.6px);
  border: 1px solid rgba(255, 255, 255, 0.188);
}

header {
  background-image: url(../src/img/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #ffffff91;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(98, 0, 255);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2b185d;
  animation-duration: 200ms;
}

/* ================================================== */
/* ================================================== */
/* ================================================== */
/* ================================================== */
/* kategori */

.bg-fan {
  background-image: url(./img/product/cooler/ROG\ Strix\ LC360\ Liquid\ CPU\ Processor\ Cooler.png);
}

.bg-mothearboard {
  background-image: url(./img/product/motherboard/ROG\ Maximus\ Xi\ Hero\ z390.png);
}

.bg-laptop {
  background-image: url(./img/product/laptop/ROG\ Strix\ G15\ G512\ G512LW.png);
}
.bg-headphone {
  background-image: url(./img/product/headphone/ROG\ Delta.png);
}
.bg-monitor {
  background-image: url(./img/product/monitor/ASUS\ ROG\ Strix\ XGVQ.png);
}

.bg-case {
  background-image: url(./img/product/case/ROG\ Strix\ GL10CS.png);
}

.bg-mouse {
  background-image: url(./img/product/mouse/ROG\ Pugio.png);
}

.bg-kategori {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
